
<td style="width:20%">{{ cases_input.location | uppercase }}</td>
<td style="width:20%">{{ cases_input.name | uppercase }}</td>
<td style="width:20%">{{ cases_input.date }}</td>
<td style="width:20%"><button (click)="onDelete()">Delete</button></td>
<td style="width:20%"><button (click)="revealInfo()">More Info</button></td>

<div class="modal" *ngIf="infoIsRevealed">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeInfo()">&times;</span>
      <p>Location: {{ cases_input.location }}<br>
        Name of reported: {{cases_input.name }}<br>
        Date of incident: {{ cases_input.date }}<br>
        Phone Number: {{ cases_input.phoneNumber }}<br>
        Additional Notes: {{ cases_input.extraNotes }}</p>
    </div>
  
</div>
